body{
    background-color: antiquewhite;
    
}
h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:aquamarine;
}
.Photos{
    margin:5px;
    border: 1px;
    float: left;
    width: 180px;
}
